.btn {
    background-color: #09c732;
    padding: 0.8rem 2rem;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all .1s;
}

.btn.secondary {
    background-color: #28a5db;
}

.btn:hover {
    background-color: #0cd236;
}

.btn.secondary:hover {
    background-color: #1eb2f2;
}

.btn.goto {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 1rem;
    padding: 1rem 3rem;
    padding-right: 3rem;
    background: rgb(19,204,59);
    background: -moz-linear-gradient(45deg, rgba(19,204,59,1) 0%, rgba(40,165,219,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(19,204,59,1) 0%, rgba(40,165,219,1) 100%);
    background: linear-gradient(45deg, rgba(19,204,59,1) 0%, rgba(40,165,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#13cc3b",endColorstr="#28a5db",GradientType=1);
    border-radius: 25px;
}

.btn.goto:hover {
    background-color: #28aae1;
    gap: 2rem;
}